.search-input{
    width: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: #2775bb;
    height: 28px;
    font-size: 12px;
}

.search-bar {
   display: flex;
   justify-content: flex-end;
}

.card-view{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
    justify-content: center;
}

.detail-display, .image-normal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stat-area, .image-normal span{
    grid-column: 1/3;
}

.image-normal span{
    font-weight: bold;
    font-size: 20px;
    color: #ef5350;
    width: 150px;
    border-bottom: 2px solid #f5deb3;
}

h4 {
    font-weight: bold;
    color: #ef5350; 
    width: 150px;
    border-bottom: 2px solid #f5deb3;
}

.modal-header{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #f5deb3;
    background-image: linear-gradient(to right bottom, #ef5350, #f06257, #f06f5e, #f17b66, #f1876f);
}

.base-card{
    display: grid;
    grid-template-columns: 100px 1fr;
}



.base-area:nth-child(2) .base-card span{
    margin-left: 10px;
}
.base-card label, .stat-area span {
    font-weight: bold;
}